@model Server.Models.DbEntity.Customer;

@section Header {
    <header>
        <nav class="navbar">
            <ul>
                <li class="icon">
                    <a asp-controller="Customer" asp-action="Account">
                        <img src="~/img/logo.png" alt="Logo" height="36">
                    </a>
                </li>
                <li><a asp-controller="Customer" asp-action="Bookings">My bookings</a></li>
            </ul>
            <div class="account"><a asp-controller="Customer" asp-action="Account">Account</a></div>
        </nav>
    </header>
}