@{
    ViewData["Title"] = "Register";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login/credentials.css" />
}

@model Server.Models.DataModel.LoginCredentials



<h2 class="element">Log in</h2>

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div style="color:red;">
        @ViewData["ErrorMessage"]
    </div>
}

<form asp-action="Login" method="post">
    <div class="element">
        <div class="container">
            <label for="email">Email</label>
            <input type="email" id="email" name="Email" value="@Model.Email" required />
        </div>

        <div class="container">
            <label for="password">Password</label>
            <input type="password" id="password" name="Password" required />
        </div>

        <div class="container">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
    </div>

    <button class="element" type="submit">Log in</button>

    <div class="form-link container">
        Don't have an account? <a asp-controller="Registration" asp-action="Register">Register here</a>
    </div>
</form>
