@model Server.Models.DataModel.LoginCredentials

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="~/css/credentials.css">
</head>
<body>
    <h2 class="element">Login</h2>

    @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
    {
        <div style="color:red;">
            @ViewData["ErrorMessage"]
        </div>
    }

    <form asp-action="Login" method="post">
        <div class="element">
            <div class="container">
                <label for="email">Email</label>
                <input type="email" id="email" name="Email" value="@Model.Email" required />
            </div>

            <div class="container">
                <label for="password">Password</label>
                <input type="password" id="password" name="Password" required />
            </div>

            <div class="container">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </div>

        <button class="element" type="submit">Login</button>

        <div class="form-link container">
            Don't have an account? <a asp-controller="Registration" asp-action="Register">Register here</a>
        </div>
    </form>
</body>
</html>