@{
    ViewData["Title"] = "Choose Role";
}

@section Styles {
    <link rel="stylesheet" href="~/css/login/credentials.css" />
    <link rel="stylesheet" href="~/css/login/select_role.css" />
}

@model List<string>



<h2>Choose Your Role</h2>

<form asp-action="SelectRole" method="post">
    <div>
        <select name="selectedRole">
            @foreach (var role in Model)
            {
                <option value=@role>@role</option>
            }
        </select>
        <button type="submit">Select</button>
    </div>
</form>