h2 {
    text-align: center;
    color: #cb0d0d;
    padding: 15px;
}

.movie-list {
    
}

.movie-item {
    border: 1px solid #242424;
    margin: 10px;
    background-color: #666;
}

.movie-item h4 {
    text-align: center;
    margin: 10px;
    font-size: 18px;
}

.movie-item p {
    margin: 5px;
    font-size: 14px;
}