@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

@model List<MovieInfo>



<header>
    <nav class="navbar">
        <ul>
            <li class="icon">
                <a asp-controller="Home" asp-action="Home">
                    <img src="~/img/logo.png" alt="Logo" height="36">
                </a>
            </li>
        </ul>
        <div class="account"><a asp-controller="Login" asp-action="Login">Log in</a></div>
    </nav>
</header>

<div class="main-content">
    <h2>Movies</h2>
    <div class="container movie-list">
        <div class="row">
            @{
                foreach (var movie in Model)
                {
                    <div class="col-6">
                        <div class="movie-item">
                            <h4><a href="/home/movieinfo/@movie.Id">@movie.Title</a></h4>
                            <p>Genre: @movie.Genre</p>
                            <p>Rating: @movie.Rating / 10</p>
                            <p>Age restricions: @movie.AgeRestrictions+</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>