@model Server.Models.DataModel.AccountInfo

<div class="account-card">
    <h2 class="account-heading">Account: @Model.Role</h2>

    <div class="account-detail">
        <label>Username:</label>
        <span>@Model.Username</span>
    </div>
    <div class="account-detail">
        <label>Email:</label>
        <span>@Model.Email</span>
    </div>
    <div class="account-detail">
        <label>Password:</label>
        <span>@Model.Password</span>
    </div>
</div>